<nav class="group user-image-box sidebar left" id="user-show-sidebar">

  <div><%= link_to image_tag(@user.photo_medium, class: "user-image-medium centered", id: "user-image"), @user, method: :get %></div>

  <h3 class="dark-gray centered" id="user-show-username"><%= "#{@user.first_name}" %></h3>

</nav>