<div class="tab-content">
  <p id="description"><%= @space.description %></p>

  <table class="tab-data">
    <tbody>
      <tr>
        <td class="table-row-title">Room type:</td>
        <td class="table-row-data"><%= Space.room_types[@space.room_type] %></td>
      </tr>
      <tr>
        <td class="table-row-title">Bed type:</td>
        <td class="table-row-data"><%= Space.bed_types[@space.bed_type] %></td>
      </tr>
      <tr>
        <td class="table-row-title">Accomodates:</td>
        <td class="table-row-data"><%= @space.accommodates %></td>
      </tr>
    </tbody>
  </table>
</div>