<div class="group tab-box">
  <div class="group tab-box-tab">
    <%= render "spaces/show/description_tab" %>
  </div>
  <div class="group tab-box-tab">
    <%= render "spaces/show/amenities" %>
  </div>
  <div class="group tab-box-tab">
    <%= render "spaces/show/house_rules" %>
  </div>
</div>