<div>
  <%= gmaps4rails @json %>
</div>


<%= checkbox_group collection: Space.room_types,
                   ul_class:   "checkbox-li",
                   html_name:  "space_filter[room_types][]" %>
