<main>
  <section class="group left-sidebar">
    <%= render "spaces/index/space_search_sidebar" %>
  </section>

  <section class="group">
    <%= render "spaces/index/space_list" %>
  </section>
</main>