<section class="group sidebar left">
  <%= render "spaces/index/space_search_sidebar" %>
</section>

<section class="group" id="space-list-wrapper">
  <%= render "spaces/index/space_list" %>
</section>