<ul class="group <%= @ul[:ul_class] %>">
  <% @ul[:collection].each_with_index do |element, index| %>
    <li class="checkbox-li">
      <input type="checkbox"
             name="<%= @ul[:html_name] %>[]"
            value="<%= index %>"
            class="input-checkbox">
        <%= element %>
      </input>
    </li>
  <% end %>
</ul><br>
