<% content_for :head do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&sensor=false">
  </script>
<% end %>

<section class="global-map group">
  <div id="map-canvas"></div>
</section>

<script type="text/javascript">
  google.maps.event.addDomListener(window, 'load', initializeMap);
</script>
