<header class="group space-bookings-index">

  <div id="space-img"><%= link_to image_tag("http://placekitten.com/300/300"), @space, method: :get %></div>

  <%= render partial: "shared/calendar",
             locals: {bookings: @space.booked_dates_this_month} %>


</header>

<section>

  <h2>Approved Bookings</h2>

  <%= render partial:"bookings/index/booking_visitor",
             collection: @space.bookings.where("approval_status = ?",
                                               Booking.approval_statuses[:approved]) %>

  <h2>Pending Bookings</h2>

  <%= render partial:"bookings/index/booking_visitor",
             collection: @space.bookings.where("approval_status = ?",
                                               Booking.approval_statuses[:pending]) %>

</section>