<section>

  <h1 class="page-header">Your Trips</h1>

  <table id="user-bookings-table">

    <th>Status</th><th>Location</th><th>Host</th><th>Dates</th><th>Info</th><th>Options</th>
    <%= render partial:"bookings/index/booking_space",
               collection: @user.initiated_bookings %>

  </table>

</section>
