<form action="<%= spaces_url %>" method="get">

    <%= tag "input", type: "text",
              placeholder: "Where are you going? (NYC suggested)",
                     name: "space_filters[city]",
                    class: "text-input input-medium",
                       id: "header-search-input" %><br>

</form>