<form action="<%= spaces_url %>" method="get">

  <%= render partial: "inputs/text_input",
             locals: {options: {"placeholder" => "Where are you going?",
                                  "html_name" => "space_filters[city]",
                                         "id" => "header-location input-medium"}}  %>

</form>