<form action="<%= spaces_url %>" method="get">

    <%= tag "input", type: "text",
              placeholder: "Where are you going?",
                     name: "space_filters[city]",
                    class: "text-input input-medium",
                       id: "header-location input-medium" %><br>

</form>