<nav class="group" id="logo-banner">
  <ul>

    <li>
      <%= link_to "cloudbnb", root_url, method: :get, id: "site-logo" %>
    </li>

    <li>
      <%= render "header/header_search_bar" %>
    </li>

  </ul>
</nav>