<nav class="group" id="user-banner">
    <ul>
  <% if logged_in? %>
    <%= render "header/logged_in_dropdown" %>
  <% else %>
    <li><%= link_to "Sign up", new_user_url, method: :get %></li>
    <li><%= link_to "Sign in", new_session_url, method: :get %></li>
  <% end %>
    <li><%= link_to "Create New Space", new_space_url, method: :get, class: "button yellow-orange", id: "header-button"%></li>
    </ul>
</nav>