<div id="splash-container">
  <img src="http://farm6.staticflickr.com/5220/5408809722_2bbb143f75_b.jpg" alt="House by andrewmalone, on Flickr" id="splash">
  <form action="<%= spaces_url %>" class="group" id="root-page-search-bar">

    <input type="text" name="space_filters[city]" value="">

    <input type="date" name="space_filters[start_date]">

    <input type="date" name="space_filters[end_date]">

    <%= select_numerical_given_options(label: "",
                                   html_name: "space_filters[guest_count]") %>

    <input type="submit" value="Search" id="search-button">

  </form>
</div>