/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body,h1,h2,h3,h4,h5,h6,p,img,a,ul,li,header,nav,img,main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    list-style-type: none;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

main {
  width: 1000px;
  margin: 20px auto;
  min-width: 1000px;
}

#site-header {
  background: #DDD;
  height: 45px;
  width: 100%;
}

#user-banner {
  display: inline-block;
  float: right;
  height: 45px;
  vertical-align: middle;
  line-height: 45px
}

#user-banner > ul > li {
  float: left;
  margin: 0 5px;
}

#space-amenities {
  width: 500px;
  display: block;
}

.checkbox-li {
  min-width: 250px;
  float: inline;
}

#space-booking-rates {
  width: 250px;
  display: block;
}
