/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body,h1,h2,h3,h4,h5,h6,p,img,a,ul,li,header,nav,img,main,section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
  -webkit-font-smoothing: antialiased
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

body {
}

.centered {
  margin: auto;
  align: center;
  text-align: center;
}

.main {
  background: white;
  width: 1000px !important;
  margin: 20px auto;
  min-width: 1000px;
  border-radius: 30px;
  padding: 20px;
}

#errors-notices {
  background: white;
  width: 1000px;
  margin: 20px auto;
  min-width: 1000px;
  border-radius: 5px;
  border: 3px solid red;
  padding: 10px;
}

#logo-banner {
  display: inline-block;
  float: left;
  height: 45px;
  vertical-align: middle;
  line-height: 45px
}

#site-logo > ul > li > a:link {
  color: black;
}

#site-logo > ul > li > a:visited {
  color: black;
}

#user-banner {
  display: inline-block;
  float: right;
  height: 45px;
  vertical-align: middle;
  line-height: 45px
}

nav > ul > li {
  float: left;
  margin: 0 5px;
}

#space-booking-rates {
  width: 250px;
  display: block;
}

.sidebar {
  display: inline-block;
}

.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 200px;
  margin: auto;
}

.gmaps4rails_map {
  width: 200px;
  height: 200px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}