#itinerary {
  width: 790px;
  margin: auto;
}

#itinerary-header {
  float: left;
}

#itinerary-header > a > img {
  margin: 0;
  padding: 0;
  width: 289px;
  height: 289px;

}

#itinerary-table {
  border: 1px solid #CCC;
  border-collapse:collapse;
  border-radius: 10px;
  float: left;
  width: 500px;
}

#itinerary-table > tbody > tr:first-child > td {
  text-align: center !important;
}

#itinerary-table > tbody > tr > td {
  padding: 3px;
}

#itinerary-table > tbody > tr > td:first-child {
  text-align: left;
  font-weight: lighter;
}

#itinerary-table > tbody > tr > td:last-child {
  text-align: right;
  font-weight: bold;
}

#disclaimer {
  border-radius: 10px;
  border: 3px solid red;
  width: 775px;
  height: auto;
  padding: 10px;
  padding-right: 0px;
  font-weight: bold;
  margin: 10px 0;
}