/* BLUE */

.blue {
  color: white;
  background: #1a9ce2;
}

.blue:hover {
  background: #2badf3;
};

/* BLUE */

.yellow-orange {
  color: black;
  background: #fed231;
}

.yellow-orange:hover {
  background: #fce359;
}