#user-nav {
  height: 45px;
  position: relative;
}

#user-nav > ul {
}

#user-nav > ul > li {
  float: left;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
}

#user-nav > #user-dropdown {
  position: absolute;
  display: none;
  top: 45px;
}

#user-nav:hover {
  background: #EEEEEE;
  border-radius: 5px;
}

#user-nav:hover > #user-dropdown {
  display: block;
}

#user-nav:hover > #user-dropdown > li {
}

#user-nav:hover > #user-dropdown > li > a {
  padding-left: 10px;
  width: 150px;
  height: 43px;
  background: white;
  display: block;
  float: none;
  border: 2px solid gray;
  border-top: 0;
}

#user-nav:hover > #user-dropdown > li > a:first-child {
  border: 2px solid gray;
}

#user-nav:hover > #user-dropdown > li > a:hover {
  background: #EEEEEE;
}