
#site-logo {
  color: #1a9ce2 !important;
  display: inline;
  margin: 0 auto;
  padding: 10px;
  font-size: 25px;
}

#site-header {
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 49%, rgb(242, 242, 242) 51%, rgb(240, 240, 240) 100%);
  height: 45px;
  width: 100%;
  min-width: 768px;
  border-bottom: 1px solid rgb(208, 208, 208);
}

#user-nav {
  height: 45px;
  position: relative;
}

#user-nav > ul {
}

#user-nav > ul > li {
  float: left;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
}

#user-nav > #user-dropdown {
  position: absolute;
  display: none;
  top: 45px;
  right: 0px;
  z-index: 10;
}

#user-nav > #user-dropdown > li > a {
  color: black;
}

#user-nav:hover {
  background: #EEEEEE;
  border-radius: 5px;
}

#user-nav:hover > #user-dropdown {
  display: block;
}

#user-nav:hover > #user-dropdown > li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 138px;
  height: 31px;
}

#user-nav:hover > #user-dropdown > li:first-child {
  border-top: 1px solid #ccc;
}

#user-nav:hover > #user-dropdown > li > a {
  padding-left: 10px;
  line-height: 31px;
  vertical-align: middle;
  background: white;
  display: block;
  float: none;
  border-top: 0;
  font-size: 13px;
  font-weight: bold;
}

#user-nav:hover > #user-dropdown > li > a:first-child {
}

#user-nav:hover > #user-dropdown > li > a:hover {
  background: #00b0ff;
  color: white;
}

#header-button {
  padding: 7px 10px !important;
  font-size: 11px !important;
  border-radius: 4px;
  color: rgb(60,60,60) !important;
  background-image: -webkit-linear-gradient(top, rgb(253, 228, 76) 0%, rgb(243, 198, 19) 100%);
}

#header-search-input {
  border-radius: 3px;
  color: rgb(90,90,90);
  font-size: 13px;
  width: 280px;
}

#sign-up-header, #log-in-header, #username {
  color: rgb(132, 132, 132);
  font-size: 11px;
  font-weight: bold;
  padding-right: 10px;
  padding-left:  10px;
}

#header-user-image {
  margin-top: 10px;
}