img {
  padding: 5px;
}

.user-image-medium, .space-image-medium, .image-medium {
  width: 300px;
  height: 300px;
}

.user-image-medium, .space-image-medium {
  width: 200px;
  height: 200px;
}

.user-image-thumb, .space-image-thumb {
  width: 35px;
  height: 35px;
  border-radius: 9px;
}

.image-micro-thumb {
  width: 20px;
  height: 20px;
  border-radius: 9px;
}


.space-image {
  float: left;
  width: 118px;
  height: 77px;
  padding: 3px;
  border: 1px solid #DDD;
  border-radius: 2px;
}

.host-image {
  float: left;
}

//something {
//  width: 100%;
//  height: auto;
//}

