/* CLEAR STUFF */

.button, select, input {
  padding: 0;
  border: 0;
  margin: 0;
}

.button, select {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  padding: 10px 19px;
  border-radius: 2px;
  margin: 6px 0px;
}

input {
  font-size: 15px;
}

input:focus {
  outline: 1px solid #DF67A2;
}

.input-large {
  padding: 10px 19px;
}

.input-medium {
  padding: 5px;
}

.input-small {
  padding: 3px;
}

.input-long {
  width: 300px;
}

/* BUTTONS */

.button, select {
  font-weight: bold;
  padding: 10px 19px;
  border-radius: 2px;
  margin: 6px 0px;
}

.button:focus {
  outline: 0;
}

/* TEXT INPUT */

.text-input {
  display: inline-block;;
  background: white;
  outline: none;
}
/* DATE INPUT */

.date-input {
  -webkit-appearance: none;
}

.date-input::-webkit-inner-spin-button {
  display: none;
}

/* SELECT INPUT */

select {
  background: #DDD;
  -webkit-appearance: none;
  padding: 9px 18px;
  border: 1px solid gray;
  border-radius: 2px;
  background: url(down-arrow.png) no-repeat right #ddd;
  padding-right: 33px;
}

/* NUMBER INPUT */

.number-input::-webkit-inner-spin-button {
  display: none;
}

/* checkbox */

.input-checkbox {
}
