/* CLEAR STUFF */

.button, select {
  padding: 0;
  border: 0;
  margin: 0;
}

/* BUTTONS */

.button, select {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 19px;
  border-radius: 2px;
  margin: 6px 0px;
}

/* TEXT INPUT */

/* DATE INPUT */

/* SELECT INPUT */

select {
  background: #DDD;
  -webkit-appearance: none;
  padding: 9px 18px;
  border: 1px solid gray;
  border-radius: 2px;
  background: url(down-arrow.png) no-repeat right #ddd;
  padding-right: 33px;
}


