// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#splash-container {
  background: black;
  position: relative;
}

#splash {
  display: block;
  width: 900px;
  margin: auto;
  padding: 0;
}

#root-page-search-bar {
  background: rgba(0,0,0,0.6);
  position: absolute;
  border-radius: 3px;
  border: 1px solid black;
  height: 50px;
  width: auto;
  left: 50%;
  top: 250px;
  margin-left: -440px;
}

#header-button {
  height: 21px;
  font-size: 15px;
  margin: 5px;
}

#search-button {
  margin-right: 5px;
}

#root-input-city-name {
  margin-left: 5px;
  width: 320px;
}

#root-input-city-name:focus {
  margin-left: 5px;
}