// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#splash-container {
  background: black;
  margin: auto;
  min-width: 1024px;
}

#splash {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0;
}

#root-page-search-bar-container {
  position: absolute;
  min-width: 615px;
  top: 250px;
  right: 300px
}

#root-page-search-bar-container > h1, h3 {
  font-weight: bold;
  color: white;
}

#root-page-search-bar-container > h1 {
  font-size: 48px;
  text-shadow: 0px 0px 40px black;
  -webkit-text-stroke: 0.2px #333;
}

#root-page-search-bar-container > h3 {
  font-size: 20px;
  padding-bottom: 15px;
  text-shadow: 0px 0px 40px black;
  -webkit-text-stroke: 0.2px #333;
}

#root-page-search-bar {
  background: rgba(0,0,0,0.6);
  border-radius: 3px;
  border: 1px solid black;
  height: 50px;
  width: auto;
}

#header-button {
  font-size: 15px;
  margin: 5px;
}

#root-input-city-name {
  margin-left: 5px;
  width: 320px;
}

#search-button {
  margin-right: 5px;
}

