#top-of-booking-sidebar {
  margin: 0;
}

.sidebar > .sidebar-section > .price-wrapper {
  float: left;
  padding: 10px;
}

.sidebar > .sidebar-section > .price-wrapper > .price-data {
  font-size: 36px;
}

.sidebar > .sidebar-section > .price-wrapper > .price-data > sup {
  font-size: 24px;
}

.sidebar > .sidebar-section > .price-wrapper > div {
  display: block;
  font-size: 13px;
  text-align: right;
}

#space-show-sidebar-book-button {
  width: 100%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
  padding: 10px 0;
}

#owner-img {
  padding: 25px;
  padding-bottom: 0px;
}

#space-show-owner-name {
  color: rgb(29, 149, 203);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
}

.sidebar-bottom {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
}