
.tab-box-wrapper  {
  width: 682px;
  height: 338px;
  display: block;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background: #F8F8F8;
  border: 1px solid #F0F0F0;
  margin-bottom: 20px;
}

.tab-box {
  position: relative;
  clear: both;
}

.tab-box > .tab {
  float:left;
}

.tab-box > .tab > label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  width: 100px;
  text-align: center;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  font-size: 13px;
  font-weight: bold;
}

.tab-box > .tab > input[type=radio] {
  display: none;
}

.tab-box > .tab > .tab-content {
  position: absolute;
  top: 36px;
  left: 0;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  width: 640px;
  height: 260px;
}

.tab-box > .tab > input[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

.tab-box > .tab > input[type=radio]:checked ~ label ~ .tab-content {
  z-index: 1;
}

