.available-amenity, .unavailable-amenity {
  float: left;
  width: 180px;
  position: relative;
  margin-left: 20px;
  margin-top: 7px;
  margin-bottom: 8px;
  font-size: 12px;
}

.available-amenity:before {
  background: url("green_check_red_cross.jpg");
  content: " ";
  position: absolute;
  height:20px;
  width:20px;
  top: -2px;
  left: -23px;
}

.unavailable-amenity:before {
  background: url("green_check_red_cross.jpg");
  background-position: -20px 0px;
  content: " ";
  position: absolute;
  height:20px;
  width:20px;
  top: -2px;
  left: -23px;
}
