// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  display: inline;
}

.left-sidebar {
  float:left;
  width:250;
}

.right-sidebar {
  float:right;
  width:250;
}

#spaces-index-list {
  float: right;
}

.space-index-list-item {
  width: 720px;
  padding: 10px;
  border-bottom: 1px solid #CCC;
}

img {
  padding: 5px;
}

.space-image {
  float: left;
  width: 118px;
  height: 77px;
}

.host-image {
  float: left;
  width: 35px;
  height: 35px;
}

.space-index-list-item > header {
  float: left;
}

.space-index-list-item > .price-data {
  float: right;
}

.special-day {
  color: #CCC;
  background: #AAA;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}

.normal-day {
  background: #EEE;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}

.otherMonth {
  color: #CCC;
  background: #666;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}

.calendar {
  display: inline-block;
}

.space-map {
  width: 300px;
  height: 300px;
}